(
    path: "sprite_map.png",
    sprites: [
        (
            name: "gate_and",
            x: 1,
            y: 34,
            w: 65,
            h: 65,
        ), (
            name: "signal_passthrough",
            x: 67,
            y: 34,
            w: 33,
            h: 33,
        ), (
            name: "gate_not",
            x: 67,
            y: 68,
            w: 33,
            h: 33,
        ), (
            name: "signal_copy",
            x: 101,
            y: 34,
            w: 33,
            h: 65,
        ), (
            name: "wire_",
            x: 1,
            y: 102,
            w: 33,
            h: 33,
        ), (
            name: "wire_down",
            x: 35,
            y: 102,
            w: 33,
            h: 33,
        ), (
            name: "wire_up",
            x: 69,
            y: 102,
            w: 33,
            h: 33,
        ), (
            name: "wire_up_down",
            x: 103,
            y: 102,
            w: 33,
            h: 33,
        ), (
            name: "wire_right",
            x: 137,
            y: 102,
            w: 33,
            h: 33,
        ), (
            name: "wire_down_right",
            x: 171,
            y: 102,
            w: 33,
            h: 33,
        ), (
            name: "wire_up_right",
            x: 205,
            y: 102,
            w: 33,
            h: 33,
        ), (
            name: "wire_up_down_right",
            x: 239,
            y: 102,
            w: 33,
            h: 33,
        ), (
            name: "wire_left",
            x: 1,
            y: 136,
            w: 33,
            h: 33,
        ), (
            name: "wire_down_left",
            x: 35,
            y: 136,
            w: 33,
            h: 33,
        ), (
            name: "wire_up_left",
            x: 69,
            y: 136,
            w: 33,
            h: 33,
        ), (
            name: "wire_up_down_left",
            x: 103,
            y: 136,
            w: 33,
            h: 33,
        ), (
            name: "wire_left_right",
            x: 137,
            y: 136,
            w: 33,
            h: 33,
        ), (
            name: "wire_down_left_right",
            x: 171,
            y: 136,
            w: 33,
            h: 33,
        ), (
            name: "wire_up_left_right",
            x: 205,
            y: 136,
            w: 33,
            h: 33,
        ), (
            name: "wire_up_down_left_right",
            x: 239,
            y: 136,
            w: 33,
            h: 33,
        ), (
            name: "box_root",
            x: 0,
            y: 285,
            w: 200,
            h: 35,
        )
    ],
)