(
    path: "sprite_map.png",
    sprites: [
        (
            name: "gate_and",
            x: 0,
            y: 32,
            w: 64,
            h: 64,
        ), (
            name: "signal_passthrough",
            x: 64,
            y: 32,
            w: 32,
            h: 32,
        ), (
            name: "gate_not",
            x: 64,
            y: 64,
            w: 32,
            h: 32,
        ), (
            name: "signal_copy",
            x: 96,
            y: 32,
            w: 32,
            h: 64,
        ), (
            name: "wire_none",
            x: 0,
            y: 96,
            w: 32,
            h: 32,
        ), (
            name: "wire_down",
            x: 32,
            y: 96,
            w: 32,
            h: 32,
        ), (
            name: "wire_up",
            x: 64,
            y: 96,
            w: 32,
            h: 32,
        ), (
            name: "wire_up_down",
            x: 96,
            y: 96,
            w: 32,
            h: 32,
        ), (
            name: "wire_right",
            x: 128,
            y: 96,
            w: 32,
            h: 32,
        ), (
            name: "wire_down_right",
            x: 160,
            y: 96,
            w: 32,
            h: 32,
        ), (
            name: "wire_up_right",
            x: 192,
            y: 96,
            w: 32,
            h: 32,
        ), (
            name: "wire_up_down_right",
            x: 224,
            y: 96,
            w: 32,
            h: 32,
        ), (
            name: "wire_left",
            x: 0,
            y: 128,
            w: 32,
            h: 32,
        ), (
            name: "wire_down_left",
            x: 32,
            y: 128,
            w: 32,
            h: 32,
        ), (
            name: "wire_up_left",
            x: 64,
            y: 128,
            w: 32,
            h: 32,
        ), (
            name: "wire_up_down_left",
            x: 96,
            y: 128,
            w: 32,
            h: 32,
        ), (
            name: "wire_left_right",
            x: 128,
            y: 176,
            w: 32,
            h: 32,
        ), (
            name: "wire_down_left_right",
            x: 160,
            y: 128,
            w: 32,
            h: 32,
        ), (
            name: "wire_up_left_right",
            x: 192,
            y: 128,
            w: 32,
            h: 32,
        ), (
            name: "wire_up_down_left_right",
            x: 224,
            y: 128,
            w: 32,
            h: 32,
        ), (
            name: "box_root",
            x: 0,
            y: 285,
            w: 200,
            h: 35,
        )
    ],
)